{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <p>here is the about page.</p>
    
    <p>You have visited Rango {{ visits }} time(s)!</p>
    
    <p>
        <strong>This tutorial has been put together by martindes01.</strong>
    </p>
    <p>
        <img src="{{ MEDIA_URL }}cat.jpg" alt="The martindes01 cat" />
    </p>

    <p>
        <img src="{% static "images/thing.png" %}" alt="A thing" />
    </p>
{% endblock %}
