<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>About | Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>here is the about page.</div>
        
        <div>
            <strong>This tutorial has been put together by martindes01.</strong><br />
            <img src="{{ MEDIA_URL }}cat.jpg" alt="The martindes01 cat" />
        </div>

        <div>
            <a href="/rango/">Index</a><br />
            <img src="{% static "images/thing.png" %}" alt="A thing" />
        </div>
    </body>

</html>
