{% extends 'rango/base.html' %}

{% block title_block %}
    Add page
{% endblock %}

{% block body_block %}
    {% if category %}
        <h1>Add a new page to {{ category.name }}</h1>
        <div>
            <form id="page_form" method="POST" action="{% url 'add_page' category.slug %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br />
                {{ field }}<br /><br />
            {% endfor %}
                <input type="submit" name="submit" value="Add page" />
            </form>
        </div>
    {% else %}
        <div>
            <strong>The specified category does not exist!</strong>
        </div>
    {% endif %}
{% endblock %}
