<!DOCTYPE html>

{% load rango_template_tags %}
{% load staticfiles %}

<html>

    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            Rango -
        {% block title_block %}
            How to tango with Django!
        {% endblock %}
        </title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
        <script>
            window.jQuery || document.write("<script src=\"{% static 'js/jquery.min.js' %}\"><\/script>")
        </script>
        
        <script src="{% static 'js/rango-ajax.js' %}"></script>
        <script src="{% static 'js/rango-jquery.js' %}"></script>
    </head>

    <body>
        <div>
        {% block sidebar_block %}
            {% get_category_list category %}
        {% endblock %}
        </div>

        <div>
        {% block body_block %}
        {% endblock %}
        </div>

        <hr />

        <div>
            <ul>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'add_category' %}">Add a new category</a>
                </li>
                <li>
                    <a href="{% url 'restricted' %}">Restricted page</a>
                </li>
                <li>
                    <a href="{% url 'list_profiles' %}">All profiles</a>
                </li>
                <li>
                    <a href="{% url 'profile' user.username %}">My profile</a>
                </li>
                <li>
                    <a href="{% url 'auth_password_change' %}">Change password</a>
                </li>
                <li>
                    <a href="{% url 'auth_logout' %}?next=/rango/">Log out</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'auth_login' %}">Log in</a>
                </li>
                <li>
                    <a href="{% url 'registration_register' %}">Register</a>
                </li>
            {% endif %}
                <li>
                    <a href="{% url 'about' %}">About Rango</a>
                </li>
                <li>
                    <a href="{% url 'index' %}">Index</a>
                </li>
            </ul>
        </div>
    </body>

</html>
