{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block%}
    {% if category %}
        <h1>{{ category.name }}</h1>
        <div>
        {% if pages %}
            <ul>
            {% for page in pages %}
                <li>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages in this category.</strong>
        {% endif %}
        </div><br />
        <div>
            <a href="{% url 'add_page' category.slug %}">Add a new page</a>
        </div>
    {% else %}
        <strong>The specified category does not exist!</strong>
    {% endif %}
{% endblock %}
