{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block body_block %}
    <h1>Rango says...</h1>
    <p>
    {% if user.is_authenticated %}
        howdy {{ user.username }}!
    {% else %}
        hey there partner!
    {% endif %}
    </p>

    <h2>Most liked categories</h2>
    <div>
    {% if categories %}
        <ul>
        {% for category in categories %}
            <li>
                <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
            {% if category.likes == 1 %}
                ({{ category.likes }} like)
            {% else %}
                ({{ category.likes }} likes)
            {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are currently no categories.</strong>
    {% endif %}
    </div>

    <h2>Most viewed pages</h2>
    <div>
    {% if pages %}
        <ul>
        {% for page in pages %}
            <li>
                <a href="{% url 'goto' %}?page_id={{ page.id }}">{{ page.title }}</a>
            {% if category.likes == 1 %}
                ({{ page.views }} view)
            {% else %}
                ({{ page.views }} views)
            {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are currently no pages.</strong>
    {% endif %}
    </div>
    
    <p>
        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
    </p>
{% endblock %}
