{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h1>Register for Rango</h1>
    {% if registered %}
    <div>
        Rango says: <strong>thank you for registering!</strong>
        <a href="{% url 'index' %}">Return to the homepage.</a><br />
    </div>
    {% else %}
    <div>
        Rango says: <strong>register here!</strong><br />
        <form id="user_form" method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}

            <!-- Display both forms -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
    </div>
    {% endif %}
{% endblock %}
